@charset "utf-8";

/*
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url("oswald.woff") format("woff");
}
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    src: local("Oswald Bold"), local("Oswald-Bold"), url("oswald-bold.woff") format("woff");
}
*/

@font-face{
	font-family:'Futura';
	src:url('./futurastd-medium-webfont.eot');
	src:url('./futurastd-medium-webfont.eot?#iefix') format('embedded-opentype'),url('./futurastd-medium-webfont.woff') format('woff'),url('./futurastd-medium-webfont.ttf') format('truetype'),url('./futurastd-medium-webfont.svg') format('svg')
}

body {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
    color: #A0A0A0;
    text-align: center;
    background: url('noise.png') #303030;
} 

a:link {color:#F0F0F0;}      /* unvisited link */
a:visited {color:#A0A0A0;}  /* visited link */
a:hover {color:#FFFFFF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	/*font-family: 'Oswald', sans-serif;*/
    font-family: 'Futura', Helvetica, Arial, sans-serif;

}

html, button, input, select, textarea {
	/*font-family: 'Oswald', sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;

}

ul {
	list-style-type: none;
	padding: 0;
}

.aurora-main {
	padding: 0;
	text-align: center;
}

/* The CSS code for Color selector */
.color-box{
	width:320px;
	margin: 0px auto;
}

#red, #green, #blue, #hue, #speed, #random, #smooth-generative, #smooth-pattern {
   
    width: 300px;
    margin: 15px;
  }
#swatch {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-left: 15px;
    background-image: none;
  }
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.container {
	padding: 0;
}
#patterns ul, #generative ul {
	padding: 0;
}
#patterns ul li, #generative ul li {
	padding: 10px 0;
}
#patterns ul li:first-child, #generative ul li:first-child {
	padding-top: 0;
}
.aurora-main .tab-content {
	padding: 20px 0;
	text-align: center;
}
#color-form, #patterns-form, #generative-form {
	display: inline-block;
}
.colorpicker-cont {
	display: inline-block;
}
#colorpicker {
	margin-top: 10px;
}
.footer {
	margin-top: 30px;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid #333;
	display: inline-block;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #333;
	display: inline-block;
	 
}
